<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= [current_page.data.title, "Extinct.life"].compact.uniq.join(" - ") %></title>

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@rememberspecies" />
    <meta name="twitter:creator" content="@vinc686" />
    <meta property="og:url" content="https://extinct.life<%= current_page.url %>" />
    <meta property="og:image" content="https://extinct.life<%= image_path("thumbnails/2000x2000_#{current_page.data.image}.jpg") %>" />
    <meta property="og:title" content="<%= current_page.data.title %>" />
    <meta property="og:description" content="This week we remember the <%= current_page.data.title %>" />

    <%= stylesheet_link_tag "main.bundle" %>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
  </head>
  <body>
    <article>
      <header id="name" class="fullscreen d-flex flex-column justify-content-center align-items-center bg-light-brown" style="background:url(/images/thumbnails/2000x2000_<%= current_page.data.image %>.jpg) no-repeat top center fixed;background-size:cover">
        <nav class="navbar navbar-expand-md navbar-light justify-content-start mb-auto">
          <a class="text-muted mr-3" href="/">Extinct.life</a>
          <div class="collapse navbar-collapse">
            <span class="text-muted" style="margin-bottom:2px">Each week we revive the memory of a lost species.</span>
          </div>
          <time class="text-muted ml-auto" style="margin-bottom:2px"><%= current_page.data.date %></time>
        </nav>
        <div class="container py-2 py-sm-4 d-flex flex-column justify-content-center align-items-center" style="flex:1">
          <h1><%= current_page.data.title %></h1>
        </div>
      </header>
      <section id="description" class="fullscreen d-flex flex-column justify-content-center align-items-center bg-light-brown">
        <div class="container narrow py-2 py-sm-4">
          <h2 class="text-center mt-4 mb-5">Extinct <%= current_page.data.extinct %>.</h2>
          <%= yield %>
          <div class="text-center mt-5 mb-4">
            <img src="/images/thumbnails/1000x1000_<%= current_page.data.image %>.jpg" alt="<%= current_page.data.title %>" class="img-fluid img-thumbnail rounded cover">
          </div>
        </div>
      </section>
    </article>
    <section class="d-flex flex-column justify-content-center align-items-center bg-black text-light">
      <div class="container narrow py-2 py-sm-4">
        <h2 class="text-center mt-4 mb-5">Every day, up to 150 species are lost.</h2>
        <p>We are currently experiencing the greatest wave of extinctions since the disappearance of the dinosaurs. Extinction rates are rising by a factor of up to 1,000 above natural rates according to the <a href="https://www.cbd.int/doc/speech/2007/sp-2007-05-22-es-en.pdf">U.N. Convention on Biological Diversity</a>.</p>
        <p>The single most important cause? <a href="https://en.wikipedia.org/wiki/Human_impact_on_the_environment">Human activities</a>.</p>
      </div>
    </section>
    <section class="fullscreen d-flex flex-column justify-content-center align-items-center bg-light-brown">
      <div class="container py-2 py-sm-4 d-flex flex-column justify-content-center align-items-center" style="flex:1">
        <div class="row">
          <div class="col-md mt-3">
            <div class="text-center">
              <i data-feather="search"></i>
            </div>
            <p>We invite you to pick a new <a href="/species/">species</a> every week, learn about its life, and search for the causes of its extinction.</p>
          </div>
          <div class="col-md mt-3">
            <div class="text-center">
              <i data-feather="eye"></i>
            </div>
            <p>Understanding a problem is the first step to fix it. Many more <a href="http://www.iucnredlist.org/">endangered species</a> can still be saved.</p>
          </div>
          <div class="col-md mt-3">
            <div class="text-center">
              <i data-feather="shield"></i>
            </div>
            <p>The actions we take to <a href="https://www.wikihow.com/Help-Protect-Biodiversity">help biodiversity</a> can mean a great deal to the future of life on this planet.</p>
          </div>
        </div>
        <h2 class="text-center my-5">Remember the <a href="/species/">lost species</a>.</h2>
        <h2 class="text-center mb-5">Protect <a href="https://www.wikihow.com/Help-Protect-Biodiversity">biodiversity</a>.</h2>
      </div>
      <footer class="mt-auto">
        <p class="text-center text-muted mb-1">Built with &hearts; by <a href="https://vinc.cc">vinc</a>. Code licensed <a href="https://github.com/vinc/extinct.life/blob/master/LICENSE">MIT</a>.</p>
      </footer>
    </section>
    <%= javascript_include_tag "main.bundle" %>
  </body>
</html>
